<!DOCTYPE HTML>
<html>

<head>
  {% include "partials/head.html" %}

  <title>Feverbase</title>
</head>

<body class="volunteer">
  <header>
    <nav>
      <a href="/about">About</a>
      <a href="/">Search</a>
      <button type="button" class="textbn" onclick="toggleFeedback()">Give Feedback</button>
    </nav>

    <h1 id="logo"><a href="/">feverbase</a></h1>
    <span id="blurb">Volunteer for eligible trials.</span>
  </header>

  <form action="/volunteer" method="post">
    <label for="first_name">First Name</label>
    <input name="first_name" type="text" value="{{ inputs.first_name if inputs and 'first_name' in inputs else '' }}">

    <label for="last_name">Last Name</label>
    <input name="last_name" type="text" value="{{ inputs.last_name if inputs and 'last_name' in inputs else '' }}">

    <label for="email">Email</label>
    <input name="email" type="text" value="{{ inputs.email if inputs and 'email' in inputs else '' }}">

    <input type="submit" value="Submit">
  </form>

  {% include "partials/end_body.html" %}
</body>

</html>